.signupContainer {
    display: flex;
    width: 1430px;
    height: 670px;
    background-color: #b987fa2d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    margin: 20px;
  }
  
  .imageSection {
    flex: 1;
    background-color: #f0f0f0;
  }
  
  .imageSection img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .formSection {
    flex: 2; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  h2 {
    text-align: center; 
    font-size: 2em; 
    color: #333; 
    margin-bottom: 30px;
  }
  
  .formGroup {
    margin-bottom: 15px;
    padding-left: 170px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formGroup input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgotPasswordLink {
    right: 0;
    bottom: -40px;
    color: #051321;
    text-decoration: none;
    font-size: 1em; 
  }
  
  .forgotPasswordLink:hover {
    color: red; 
  }
  
  .formFooter button {
    width: auto; 
    padding: 8px 36px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 460px;
  }
  
  .formFooter button:hover {
    background-color: #0056b3;
  }
  
  .formFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .formFooter p {
    margin: -28px;
    margin-right: 70px;
  }
  
  .formFooter a {
    color: #1d6dc4;
    text-decoration: none;
    margin-top: -20px;
    margin-left: 10px;
  }
  
  .formFooter a:hover {
    text-decoration: underline;
    color: red;
  }
  
  .socialSignup {
    margin-top: 60px; 
    text-align: center;
  }
  
  .divider {
    width: 60%;
    border: 0;
    border-top: 1px solid #ccc;
    margin-left: 170px;
    margin-right: 200px;
  }
  
  .orText {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px; 
  }
  
  .socialIcons p {
    text-decoration: none;
  }
  
  .socialIcon {
    width: 40px; 
    height: 40px;
  }
  
  .socialIcons p {
    margin: 0; 
    font-size: 1em;
  }
  
  .error {
    color: red;
    margin-top: 5px;
    margin-left: 19%;
  }
  